
{% extends "base.html"%}

{%block content%}
</br></br></br></br>
{% for message in get_flashed_messages() %}
<div class="alert alert-success" role="alert">{{message}}</div>
{% endfor %}

<p><h3> Updating Actual Sales KPIs:</h3></p>

{% if name %}
    <b><h3> Hello {{name}}! This is UPDATING TESTS SALES KPIs </h3></b>

    <p><b>Our records are as follows:</b></p>

    <table class="table table-hover table-bordered table-striped table-dark">
        {% for record in all_records %}
            <tr>
                <td>{{ record.id }}</td> <td>{{ record.month_actual_db }}</td> <td>{{ record.tot_vol_actual_db }}</td>
            </tr>
        {% endfor %}
        
        </table>

{% else %}
    
    <br/>
    <div class="shadow p-3 mb-5 bg-body rounded">
    <form action="/update_actual_entry/{{ entry_to_update.id }}"  method="POST">
        {{form.hidden_tag()}}
                
    <table>
        <tr><td>{{form.tot_vol_actual.label(class="form-label")}}</td><td>{{form.tot_wood_finish_actual.label(class="form-label")}}</td></tr>
        <tr><td>{{form.tot_vol_actual(class="form-control", value=entry_to_update.tot_vol_actual_db)}}</td><td> {{form.tot_wood_finish_actual(class="form-control", value=entry_to_update.tot_wood_finish_actual_db)}}</td></tr>
        <tr><td>{{form.tot_mf_actual.label(class="form-label")}}</td><td> {{form.tot_crimping_actual.label(class="form-label")}}</td></tr>
        <tr><td>{{form.tot_mf_actual(class="form-control", value=entry_to_update.tot_mf_actual_db)}} </td><td>{{form.tot_crimping_actual(class="form-control", value=entry_to_update.tot_crimping_actual_db)}}</td></tr>
        <tr><td>{{form.tot_anodize_actual.label(class="form-label")}} </td><td>{{form.tot_EUR_actual.label(class="form-label")}}</td></tr>
        <tr><td>{{form.tot_anodize_actual(class="form-control", value=entry_to_update.tot_anodize_actual_db)}} </td><td>{{form.tot_EUR_actual(class="form-control", value=entry_to_update.tot_EUR_actual_db)}}</td></tr>
        <tr><td>{{form.tot_powder_coat_actual.label(class="form-label")}}</td><td> {{form.new_customers_actual.label(class="form-label")}}</td></tr>
        <tr><td>{{form.tot_powder_coat_actual(class="form-control", value=entry_to_update.tot_powder_coat_actual_db)}} </td><td>{{form.new_customers_actual(class="form-control", value=entry_to_update.new_customers_actual_db)}}</td></tr>
        <tr><td></td></tr>
        <tr><td>{{form.submit(class="btn btn-outline-primary")}}&nbsp&nbsp&nbsp&nbsp&nbsp<a href="{{url_for('delete_actual',id=id)}}" button type="button" class="btn btn-danger">Delete This Entry</a></td></tr>
    </table>
    
    </form>
    </div>

 </table>

{% endif %}

<table class="table table-hover table-bordered table-striped">

    
    <tr><th style="width:5%">db ID </th>
        <th style="width:8%">UPDATE</th>
        <th style="width:8%">DELETE</th>
        <th style="width:8%">MONTH</th>
        <th style="width:8%">MONTH ORDER</th>
        <th style="width:8%">YEAR</th>
        <th style="width:10%">TOT MT VOL</th>
        <th style="width:10%">TOT MF.</th>
        <th style="width:10%">TOT ANODIZE </th>
        <th style="width:10%">TOT POW COA</th>
        <th style="width:10%">TOT WOOD FIN</th>
        <th style="width:10%">TOT CRIMP</th>
        <th style="width:10%">TOT EUR</th>
        <th style="width:10%">NEW CUST</th>
    
    </tr>
        
    {% for record in all_records %}
    <tr>
    <td>{{ record.id }}</td> <td><a href="{{url_for('update_actual',id=record.id)}}">Update</a></td>
    <td><a href="{{url_for('delete_actual',id=record.id)}}">Delete</a></td>
    <td>{{ record.month_actual_db }}</td>
    <td>{{ record.month_order_db }}</td>
    <td>{{ record.year_actual_db }}</td> 
    <td>{{ record.tot_vol_actual_db }}</td>
    <td>{{ record.tot_mf_actual_db }}</td>
    <td>{{ record.tot_anodize_actual_db }}</td>
    <td>{{ record.tot_powder_coat_actual_db }}</td>
    <td>{{ record.tot_wood_finish_actual_db }}</td>
    <td>{{ record.tot_crimping_actual_db }}</td>
    <td>{{ record.tot_EUR_actual_db }}</td>
    <td>{{ record.new_customers_actual_db }}</td>
    </tr>
    {% endfor %}


<br/><br/>
<p><b>Actual Sales KPI Update Screen Tests </b></p>


{%endblock%}